H194QS_0924/orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE NG_orarend [
<!ELEMENT orarend (ora)>
	<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
		<!ELEMENT targy (#PCDATA)>
		<!ELEMENT idopont (nap,tol,ig)>
			<!ELEMENT nap(#PCDATA)>
			<!ELEMENT tol(#PCDATA)>
			<!ELEMENT ig(#PCDATA)>
		<!ELEMENT oktato (#PCDATA)>
		<!ELEMENT szak (#PCDATA)>
]>